@import '~bootstrap/dist/css/bootstrap.min.css';

ul {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

.pointer-element {
  cursor: pointer;
}

.delete-btn {
  cursor: pointer;
}
