@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~normalize.css";

html {
  scroll-behavior: smooth;
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

.pointer-element {
  cursor: pointer;
}

.btn-circle {
  border-radius: 100%!important;
}

.hidden {
  display: none;
}
