.carousel-container, .cards-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
}

.hidden {
  visibility: hidden;
}

::ng-deep a.carousel-control-next,
::ng-deep a.carousel-control-prev {
  filter: invert(100%)!important;
  cursor: pointer;
}

::ng-deep .carousel:focus {
  border: none;
  outline: none;
}

.bgr-light {
  background-color: rgba(248, 249, 250, 0.7)!important
}

.button-group {
  text-align: center;
}
