<div class="mt-auto" appScrollToTop>
  <!--Search panel-->
  <app-search [template]="ingredientTemplate" [uiLabels]="labels.search"
              [action]="action" [foundElements$]="foundIngredients$"></app-search>
  <!-- Selected items -->
  <ng-container>
    <div class="badges-container d-flex flex-row flex-wrap">
      <ng-container *ngFor="let item of (selectedIngredients$ | async)">
        <app-badge [item]="item"></app-badge>
      </ng-container>
    </div>
  </ng-container>
  <div class="button-group">
    <input type="button" class="btn btn-info ml-auto mr-auto mt-3" value="{{labels.buttons.submit}}" (click)="search()">
    <input type="button" class="btn btn-info ml-auto mr-auto mt-3" value="{{labels.buttons.random}}" (click)="randomSearch()">
  </div>
  <!-- Recipes panel -->
  <ng-container>
    <ng-container *ngIf="(recipes$ | async).length">
      <!-- Cards for big screens -->
      <div class="cards-container d-none d-lg-block">
        <app-recipe-cards></app-recipe-cards>
      </div>
      <!-- Carousel for small screens -->
      <div class="carousel-container d-block d-sm-none">
        <app-recipe-carousel></app-recipe-carousel>
      </div>
    </ng-container>
  </ng-container>
</div>

<ng-template #ingredientTemplate let-item="item">
  <div class="search-item pointer-element" (click)="selectIngredient(item)">
    <div>{{item.Name}}</div>
  </div>
</ng-template>
