<div class="mt-auto" appScrollToTop>
  <!--Search panel-->
  <app-search [label]="labels.search"
              [actions]="actions.searchActions"
              [template]="ingredientTemplate"
              [selectedItems]="data.selectedIngredients"
              (deleteFromSelected)="deleteFromSelected($event)"></app-search>
  <div class="button-group">
    <input type="button" class="btn btn-info ml-auto mr-auto mt-3" value="{{labels.buttons.submit}}" (click)="search()">
    <input type="button" class="btn btn-info ml-auto mr-auto mt-3" value="{{labels.buttons.random}}" (click)="randomSearch()">
  </div>
  <!-- Recipes panel -->
  <ng-container>
    <ng-container *ngIf="data.recipes as recipes;">
      <!-- Cards for big screens -->
      <div class="cards-container d-none d-lg-block">
        <ul class="cards-list">
          <li *ngFor="let card of recipes; trackBy: trackByFn">
            <app-recipe-card [card]="card"></app-recipe-card>
          </li>
        </ul>
        <ng-container *ngIf="data.recipes.length < data.totalRecipesCount">
          <input type="button" class="btn btn-info d-flex m-auto" value="Показать ещё" (click)="showMore()">
        </ng-container>
      </div>

      <!-- Carousel for small screens -->
      <div class="carousel-container d-block d-sm-none">
        <app-recipe-carousel [recipes]="recipes"></app-recipe-carousel>
      </div>
    </ng-container>
  </ng-container>
</div>

<ng-template #ingredientTemplate let-item="item">
  <div class="search-item pointer-element" (click)="addIngredient(item)">
    <div>{{item.Name}}</div>
  </div>
</ng-template>
