<div class="modal-header">
  <h4 class="modal-title">{{recipe.title}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body w-auto">
  <div class="container">
    <!-- Ingredients and recipe info -->
    <div class="row">
      <!-- Ingredients -->
      <div class="col-sm-7">
        <div class="ingredients-container d-flex flex-column border-bottom border-1 pb-1 pt-1">
          <div class="text-center border-bottom border-1">Ингредиенты:</div>
          <div class="d-flex flex-row" *ngFor="let ingredient of recipe.ingredients">
            <div class="ingredients-name w-50">{{ingredient.name}}</div>
            <div class="ingredients-amount">{{ingredient.amount}}</div>
          </div>
        </div>
      </div>
      <!-- Recipe info -->
      <div class="col-sm-5">
        <!-- Portions count -->
        <div class="row">
          <div class="col d-flex flex-row w-100 mb-4 mt-3 mt-sm-0 justify-content-between">
            <div class="">Количество порций:</div>
            <div class="ml-auto">{{recipe.portions}}</div>
          </div>
        </div>
        <!-- Energy -->
        <div class="row" *ngIf="recipe.energy | keyvalue">
          <div class="col">
              <div class="d-flex flex-column">
                <div class="d-flex flex-row justify-content-between">
                  <div>Калорийность (порция)</div>
                  <div class="font-weight-bold">{{recipe.energy.calories}}</div>
                </div>
                <div class="d-flex flex-row justify-content-between">
                  <div>Белки</div>
                  <div class="font-weight-bold">{{recipe.energy.proteins}}</div>
                </div>
                <div class="d-flex flex-row justify-content-between">
                  <div>Жиры</div>
                  <div class="font-weight-bold">{{recipe.energy.fat}}</div>
                </div>
                <div class="d-flex flex-row justify-content-between">
                  <div>Углеводы</div>
                  <div class="font-weight-bold">{{recipe.energy.carbs}}</div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <p class="font-weight-bold mt-3">Рецепт:</p>
  <ul class="pl-3">
    <li *ngFor="let step of recipe.text">{{step}}</li>
  </ul>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close()">Закрыть</button>
</div>
