<section class="search-container">
  <div class="d-flex flex-column">
    <label for="search" class="col-form-label">{{uiLabels.question}}</label>
    <form id="search-form" class="p-2 d-flex flex-column dropdown h-auto" [formGroup]="form">
      <!-- Search input -->
      <input type="text" id="search"
             class="form-control"
             data-toggle="dropdown"
             formControlName="searchInput">
      <!-- Search result container -->
      <ng-container *ngIf="(foundElements$ | async) as result">
        <ng-container *ngIf="result.length">
          <div class="search-result" appOutsideClick (outsideClick)="hide($event)">
            <ng-container *ngFor="let item of result">
              <div class="search-item dropdown-item">
                <ng-container [ngTemplateOutlet]="template ? template : defaultTemplate" [ngTemplateOutletContext]="{ item: item }"></ng-container>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </ng-container>
    </form>
  </div>
</section>

<section class="search-controls-container position-relative">
  <!-- Hint container -->
  <span class="text-muted small">{{uiLabels.hint}}</span>
</section>

<ng-template #loading>
  <!--<div class="position-absolute loading" *ngIf="this.state.loading">
    Loading...
  </div>-->
</ng-template>

<ng-template #defaultTemplate let-item="item">
  <div class="item pointer-element">{{item}}</div>
</ng-template>
