.search-result {
  top: 0;
  right: 0;
  z-index: 10;
  background: white;
  border: 1px solid lightblue;
  border-radius: 8px;
  width: 100%;
}

#search {
  flex-basis: 50%;
}

.loading {
  top: 50%;
  transform: translate(0, -50%);
  right: 0;
}
