<section class="search-container position-relative">
  <div class="d-flex flex-column">
    <label for="search" class="col-form-label">{{uiLabels.question}}</label>
    <form id="search-form" class="p-2 d-flex flex-column position-relative h-auto" [formGroup]="form">
      <div class="position-relative">
        <!-- Search input -->
        <input type="text" id="search"
               #searchInput
               class="form-control d-flex"
               formControlName="searchInput">
        <ng-container *ngIf="loading">
          <div class="lds-container">
            <div class="lds-ring">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
        </ng-container>
      </div>
      <!-- Search result container -->
      <ng-container *ngIf="foundElements.length">
        <div class="search-result d-flex mt-2 ml-2 mr-2" appOutsideClick
             [ngStyle]="{ 'top.px': searchInput.offsetHeight }" (outsideClick)="hide($event)">
          <ng-container *ngFor="let item of foundElements">
            <div class="search-item dropdown-item">
              <ng-container [ngTemplateOutlet]="template ? template : defaultTemplate"
                            [ngTemplateOutletContext]="{ item: item }"></ng-container>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </form>
  </div>
</section>

<section class="search-controls-container position-relative">
  <!-- Hint container -->
  <span class="text-muted small">{{uiLabels.hint}}</span>
</section>

<ng-template #defaultTemplate let-item="item">
  <div class="item pointer-element">{{item}}</div>
</ng-template>
