<section class="search-container">
  <div class="d-flex flex-column">
    <label for="search" class="col-form-label">{{label.question}}</label>
    <form id="search-form" class="p-2 d-flex flex-column dropdown h-auto" [formGroup]="state.form">
      <!-- Search input -->
      <input type="text" id="search"
             class="form-control"
             data-toggle="dropdown"
             formControlName="input">
      <!-- Search result container -->
      <ng-container *ngIf="data.result$ | async as result, else loading">
        <ng-container *ngIf="result.length">
          <div class="search-result" appOutsideClick (outsideClick)="hide($event)">
            <ng-container *ngFor="let item of result">
              <div class="search-item dropdown-item">
                <ng-container [ngTemplateOutlet]="template ? template : defaultTemplate" [ngTemplateOutletContext]="{ item: item }"></ng-container>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </ng-container>
      <!-- Selected items -->
      <ng-container *ngIf="selectedItems">
        <div class="badges-container d-flex flex-row flex-wrap">
          <ng-container *ngFor="let item of selectedItems">
            <app-badge [item]="item" (deleteById)="delete($event)"></app-badge>
          </ng-container>
        </div>
      </ng-container>
    </form>
  </div>
</section>

<!--<section class="search-controls-container position-relative">
  &lt;!&ndash; Title container &ndash;&gt;
  <ng-container *ngIf="label.title">
    <span class="text-muted small">{{label.title}}</span>
  </ng-container>
</section>-->

<ng-template #loading>
  <div class="position-absolute loading" *ngIf="this.state.loading">
    Loading...
  </div>
</ng-template>

<ng-template #defaultTemplate let-item="item">
  <div class="item pointer-element">{{item}}</div>
</ng-template>
