.search-result {
  position: absolute;
  flex-direction: column;
  left: 0;
  right: 0;
  z-index: 10;
  background: white;
  border: 1px solid lightblue;
  border-radius: 8px;
  width: auto;
  order: 1;
}

.form-control {
  order: 0;
}

#search {
  flex-basis: 50%;
  padding-right: 40px;
}

.loading {
  top: 50%;
  transform: translate(0, -50%);
  right: 0;
}

.search-item {
  padding: 5px 10px;
}

.search-item:hover {
  background: rgba(157, 198, 255, .3);
}

.badges {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.badges > .badge {
  margin-right: 0.5em;
}

.lds-container {
  position: absolute;
  top: 50%;
  right: 0.1rem;
  transform: translateY(-20px);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  margin: 4px;
  border: 4px solid;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #17a2b8 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
