.cards-list {
  list-style: none;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  text-align: center;
}

.card-element::after {
  content: "";
  flex: auto;
}
