.search-container {
  position: relative;
}

.search-box {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.list-group-item.pointer-element:hover {
  background: rgb(157, 198, 255);
}

.badges {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.badges > .badge {
  margin-right: 0.5em;
}

.carousel-container, .cards-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
}

.cards-list {
  list-style: none;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hidden {
  visibility: hidden;
}

::ng-deep .card {
  transition: all 0.5s;
  width: 18rem;
  margin-bottom: 1em;
  margin-top: 1em;
}

::ng-deep .card:hover {
  transform: scale(1.1);
  z-index: 10;
}

::ng-deep a.carousel-control-next,
::ng-deep a.carousel-control-prev {
  filter: invert(100%)!important;
  cursor: pointer;
}

::ng-deep .carousel:focus {
  border: none;
  outline: none;
}

.bgr-light {
  background-color: rgba(248, 249, 250, 0.7)!important
}

/*
.animated {
  animation: move 1s ease-in-out 0s 1 normal;
  -moz-animation: move 1s ease-in-out 0s 1 normal;
  -webkit-animation: move 1s ease-in-out 0s 1 normal;
}

@keyframes move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-300px);
  }
}
*/
